[Unit]
Description=scoopcam.js - node process runner
Documentation=https://example.com
After=network-online.target

[Service]
Environment=CAM=scoopcam#
Type=simple
User=pi
WorkingDirectory=/home/pi/picamera/CameraApp
ExecStart=/usr/local/bin/npm start
Restart=on-failure
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
